<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>v-model实例</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <!-- 压缩版无法使用vue.js devtools -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script> -->
</head>
<body>
<h1>v-model实例</h1>
<hr>
<div id="app">
  <p>{{message}}</p>
  <p>v-model:<input type="text" v-model="message"></p>
  <p>v-model.lazy:<input type="text" v-model.lazy="message"></p>
  <p>v-model.number:<input type="text" v-model.number="message"></p>
  <!-- number绑定数字，第一个必须是数字开头才生效 -->
  <p>v-model.trim:<input type="text" v-model.trim="message"></p>
  <hr>
  <h3>文本域</h3>
  <textarea cols="30" rows="10" v-model="message"></textarea>

  <hr>
  <h3>多选框绑定一个值</h3>
  <input type="checkbox" id="isTrue" v-model="isTrue">
  <label for="isTrue">{{isTrue}}</label>
  <hr>
  <h3>多选框绑定数组</h3>
  <p>
    <input type="checkbox" id="a" value="a" v-model="web_name">
    <label for="a">a</label>
    <input type="checkbox" id="b" value="b" v-model="web_name">
    <label for="b">b</label>
    <input type="checkbox" id="c" value="c" v-model="web_name">
    <label for="c">c</label>
  </p>
  <p>{{web_name}}</p>

  <hr>
  <h3>单选框绑定</h3>
  <p>
    <input type="radio" id="one" value="男" v-model="sex">
    <label for="one">男</label>
    <input type="radio" id="two" value="女" v-model="sex">
    <label for="two">女</label>
  </p>
  <p>性别：{{sex}}</p>


</div>

<script type="text/javascript">
  var app = new Vue({
    el: "#app",
    data: function () {
      return {
        message: "hello world!",
        isTrue: true,
        web_name: [],
        sex: "男",
      }
    }
  });
</script>

</body>
</html>
